body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display:flex; flex-direction:row;
}

/* .side-bar-menu {
  float: left;
  margin-right: 15px;
  background-color: rgba(194, 222, 248, 0.645);
  border-radius: 26px;

} */

.category-container {
  float: left; 
  margin-right: 8px;
  background-color: rgba(194, 222, 248, 0.645);
  border-radius: 26px;

}

nav a.active {
  height: 50 vh;
  min-height: 400px;
  color: black;
  border-radius: 12px;
  border: 2px solid rgba(86, 175, 253, 0.695);
}

